{
  "swagger" : "2.0",
  "host" : "api.nweoo.com",
  "produces" : [ "application/json" ],
  "info" : {
    "description" : "သတင်းမှန်များကို အချိန်နဲ့တပြေးညီ သိရှိနိုင်အောင် ဆောင်ရွက်ပေးနေပါတယ်။",
    "version" : "1.0.0",
    "title" : "NweOo Docs",
    "license" : {
      "name" : "MIT",
      "url" : "https://choosealicense.com/licenses/mit/index.html"
    },
    "contact" : {
      "name" : "NweOo"
    },
    "termsOfService" : "https://nweoo.com/terms-of-services"
  },
  "tags" : [ {
    "name" : "news",
    "description" : "News"
  } ],
  "paths" : {
    "/news/headlines" : {
      "get" : {
        "tags" : [ "news" ],
        "summary" : "GET /news/headlines",
        "operationId" : "list-headlines",
        "parameters" : [ {
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "type" : "integer",
          "default" : 10
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Headline"
            }
          }
        }
      }
    },
    "/news/articles" : {
      "get" : {
        "tags" : [ "news" ],
        "summary" : "GET /news/articles",
        "operationId" : "list-articles",
        "parameters" : [ {
          "in" : "query",
          "name" : "limit",
          "type" : "integer",
          "default" : 10
        }, {
          "in" : "query",
          "name" : "paging",
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "array",
              "description" : "Article[]",
              "items" : {
                "$ref" : "#/definitions/Article"
              }
            }
          }
        }
      }
    },
    "/news/articles/{article_id}" : {
      "get" : {
        "tags" : [ "news" ],
        "summary" : "GET /news/articles/{object_id}",
        "operationId" : "get-article",
        "parameters" : [ {
          "in" : "path",
          "name" : "article_id",
          "description" : "Article Reference ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Article"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "Headline" : {
      "type" : "object",
      "required" : [ "_id", "id", "title", "source", "timestamp" ],
      "properties" : {
        "_id" : {
          "$ref" : "#/definitions/ObjectRef"
        },
        "id" : {
          "type" : "string"
        },
        "title" : {
          "type" : "string"
        },
        "source" : {
          "type" : "string"
        },
        "timestamp" : {
          "$ref" : "#/definitions/Timestamp"
        }
      }
    },
    "Article" : {
      "type" : "object",
      "required" : [ "id", "slug", "title", "source", "link", "image", "timestamp", "post_id" ],
      "properties" : {
        "article_id" : {
          "$ref" : "#/definitions/ObjectRef"
        },
        "id" : {
          "type" : "string"
        },
        "slug" : {
          "type" : "string"
        },
        "title" : {
          "type" : "string"
        },
        "source" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "content" : {
          "type" : "string"
        },
        "timestamp" : {
          "$ref" : "#/definitions/Timestamp"
        },
        "link" : {
          "$ref" : "#/definitions/URL"
        },
        "image" : {
          "$ref" : "#/definitions/URL"
        },
        "post_id" : {
          "type" : "string"
        },
        "photo_id" : {
          "type" : "string"
        },
        "video_id" : {
          "type" : "string"
        },
        "tg_id" : {
          "type" : "string"
        }
      }
    },
    "URL" : {
      "type" : "string",
      "description" : "URL",
      "example" : "https://example.com/path/to/file"
    },
    "Timestamp" : {
      "type" : "integer",
      "description" : "Unix Timestamp",
      "example" : 1621712221647
    },
    "ObjectRef" : {
      "type" : "string",
      "description" : "Object Reference ID",
      "example" : "<ObjectRef#>"
    }
  }
}